version: '3.8'

services:
  spring-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: spring_app
    ports:
      - "8080:8080"
    depends_on:
      - db
    networks:
      - app-net

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: itu_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./sql/Script.sql:/docker-entrypoint-initdb.d/Script.sql:ro
    networks:
      - app-net


  vue-frontend:
    image: nginx
    container_name: vue_frontend
    ports:
    - "80:80"
    volumes:
    - ./dist:/usr/share/nginx/html
    networks:
    - app-net

networks:
  app-net:

volumes:
  pgdata:
  maven-repo:
